{% extends 'base.html.twig' %}

{% block title %}Espacio index{% endblock %}

{% block body %}
    <h1>Espacio index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for espacio in espacios %}
            <tr>
                <td>{{ espacio.id }}</td>
                <td>{{ espacio.nombre }}</td>
                <td>
                    <a href="{{ path('admin_espacio_show', {'id': espacio.id}) }}">show</a>
                    <a href="{{ path('admin_espacio_edit', {'id': espacio.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_espacio_new') }}">Create new</a>
{% endblock %}
