<div class="position-sticky pt-3">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_entrada_index') }}">
                <span data-feather="file"></span>
                Entradas
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_categoria_index') }}">
                <span data-feather="shopping-cart"></span>
                Categorías
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_etiqueta_index') }}">
                <span data-feather="users"></span>
                Etiquetas
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_usuario_index') }}">
                <span data-feather="bar-chart-2"></span>
                Usuarios
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_comentario_index') }}">
                <span data-feather="layers"></span>
                Comentarios
            </a>
        </li>
    </ul>

 </div>
