{% extends 'base.html.twig' %}

{% block title %}Comentario{% endblock %}

{% block body %}
    <h1>Comentario</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ comentario.id }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ comentario.fecha ? comentario.fecha|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Texto</th>
                <td>{{ comentario.texto }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ comentario.estado }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_comentario_index') }}">back to list</a>

    <a href="{{ path('admin_comentario_edit', {'id': comentario.id}) }}">edit</a>

    {{ include('admin/comentario/_delete_form.html.twig') }}
{% endblock %}
